@import "bulma";

.hero {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  display: flex;
  height: 100vh;
  max-height: 100%;

  .hero-body {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 4rem;
    font-weight: $weight-bold;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: darken;

    &::before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      background-size: cover;
      background-image: url("../images/alert-success.svg");
      background-repeat: no-repeat;
      margin-right: .25em;
    }
  }
}

// Autoprefixer test.
.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
